.popupone{
    position: absolute;
    top: 60px;
    left: 30%;
    background-color: #e2dfdf;
    width: 50%;
    height: 50vh;
    border-radius: 1rem;
    padding-inline: 2rem !important;
    padding-block: 2rem !important;
}


.navbarfstpopupdiv{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}


.iconandtextdiv{
    padding-top: 1.5rem !important;
    display: flex;
    gap: 1rem;
}

.iconandtextdiv svg{
    width: 25px;
}

.iconandtextdiv p{
    font-family: Montserrat;
    font-weight: 600;
}